.mask-bg
	.container
		.main-block
			.all-btns
				.btn-big
				.buttons-panel
					.all
					.online
					.offline
					h1.twitch twitch.tv Streamers
		.channel-block
			
.footer by
	| &nbsp
	strong Karthik &nbsp
	| for &nbsp
	strong Freecodecamp
