.mask-bg
	.container
		.main-block
			.all-btns
				a(href = "https://www.twitch.tv", target = "_blank")
					.btn-big
				.buttons-panel
					.all(title = "All Channels")
					.online(title = "Online")
					.offline(title = "Offline")
					h1.twitch twitch.tv Streamers
		.channel-block

.footer by
	| &nbsp
	strong Karthik &nbsp
	| for &nbsp
	strong Freecodecamp
