.mask-bg
	.container
		.main-block
			.all-btns
				.btn-big
				.buttons-panel
					.online
					.offline
					.twitch twitch.tv Streamers
		.channel-block
			.channel
				.logo
				.stream Online
			.channel
				.logo
				.stream Online
			.channel
				.logo
				.stream Offline
			.channel
				.logo
				.stream Account not active
			.channel
				.logo
				.stream Startcraft premier
			.channel
				.logo
				.stream Offline
			.channel
				.logo
				.stream Account not active
			.channel
				.logo
				.stream Startcraft premier

.footer by
	| &nbsp
	strong Karthik &nbsp
	| for &nbsp
	strong Freecodecamp
